@import 'base.scss';

.workSpace {
    position: relative;

    .stage {
        width: 400px;
        height: 400px;
        background-image: url(../img/grass.png);
        background-size: cover;
        box-shadow: 10px 10px 20px #00000057;
    }
    
    .score {
        display: flex;
        align-items: center;
        justify-content: center;
        //border: 1px solid black;
        position: absolute;
        top: -8%;
        right: 0%;
        
        img {
            width: 30px;
        }
    }
}