* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgba(109, 156, 109, 0.437);
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  touch-action: none;
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  body {
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  body {
    font-size: 8px;
  }
}
@media (max-width: 280px) {
  body {
    font-size: 7px;
  }
}

@-webkit-keyframes flashing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flashing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .workSpace {
  position: relative;
}
.container .workSpace .stage {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3411764706);
  background-image: url(../img/grass.png);
  width: 500px;
  height: 500px;
  border-radius: 2%;
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 768px) {
  .container .workSpace .stage {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 425px) {
  .container .workSpace .stage {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 375px) {
  .container .workSpace .stage {
    width: 310px;
    height: 310px;
  }
}
@media (max-width: 320px) {
  .container .workSpace .stage {
    width: 265px;
    height: 265px;
  }
}
@media (max-width: 280px) {
  .container .workSpace .stage {
    width: 250px;
    height: 250px;
  }
}
.container .workSpace .welcome {
  background: rgba(0, 0, 0, 0.2509803922);
  position: absolute;
  width: 100%;
  height: 96.2%;
  text-align: center;
  color: #bfd3bf;
  text-shadow: 2px 2px 10px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: 800ms linear;
  border-radius: 2%;
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 768px) {
  .container .workSpace .welcome {
    height: 96.2%;
  }
}
@media (max-width: 425px) {
  .container .workSpace .welcome {
    height: 95.6%;
  }
}
@media (max-width: 320px) {
  .container .workSpace .welcome {
    height: 95.5%;
  }
}
@media (max-width: 280px) {
  .container .workSpace .welcome {
    height: 95.7%;
  }
}
.container .workSpace .welcome.visible {
  opacity: 1;
}
.container .workSpace .welcome h4 {
  margin-left: 10px;
  font-size: 1.5em;
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 425px) {
  .container .workSpace .welcome h4 {
    font-size: 1.2em;
  }
}
.container .workSpace .welcome h5 {
  font-size: 0.7em;
  margin: 40px 0;
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 425px) {
  .container .workSpace .welcome h5 {
    margin: 30px 0;
  }
}
@media (max-width: 375px) {
  .container .workSpace .welcome h5 {
    margin: 20px 0;
  }
}
.container .workSpace .welcome h5 span:first-child {
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 425px) {
  .container .workSpace .welcome h5 span:first-child {
    display: none;
  }
}
.container .workSpace .welcome h5 span:last-child {
  display: none;
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 425px) {
  .container .workSpace .welcome h5 span:last-child {
    display: block;
  }
}
.container .workSpace .welcome p {
  font-size: 0.7em;
}
.container .workSpace .welcome img {
  width: 8px;
  margin: 0 auto;
}
.container .workSpace .welcome .arrowLeftAndRightWrapper {
  display: flex;
  margin: 5px 0;
}
.container .workSpace .welcome .arrowLeftAndRightWrapper img {
  width: 24px;
}
.container .workSpace .welcome .arrowLeftAndRightWrapper img:first-child {
  margin-right: 30px;
}
.container .workSpace .welcome .arrowLeftAndRightWrapper img:last-child {
  margin-left: 30px;
}
.container .workSpace .welcome .instructions {
  margin-top: 40px;
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 425px) {
  .container .workSpace .welcome .instructions {
    margin-top: 30px;
  }
}
@media (max-width: 375px) {
  .container .workSpace .welcome .instructions {
    margin-top: 20px;
  }
}
.container .workSpace .welcome .instructions p {
  margin-bottom: 10px;
}
.container .workSpace .welcome .instructions p:nth-child(3) {
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 768px) {
  .container .workSpace .welcome .instructions p:nth-child(3) {
    display: none;
  }
}
.container .workSpace .welcome .instructions p:nth-child(4) {
  display: none;
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 768px) {
  .container .workSpace .welcome .instructions p:nth-child(4) {
    display: block;
  }
}
@media (max-width: 425px) {
  .container .workSpace .welcome .instructions p:nth-child(4) {
    display: none;
  }
}
.container .workSpace .welcome .instructions h6 {
  color: lime;
  font-size: 0.7em;
  margin-top: 40px;
  -webkit-animation: flashing 400ms infinite;
          animation: flashing 400ms infinite;
  letter-spacing: 2px;
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 425px) {
  .container .workSpace .welcome .instructions h6 {
    margin-top: 30px;
  }
}
@media (max-width: 320px) {
  .container .workSpace .welcome .instructions h6 {
    margin-top: 20px;
  }
}
.container .workSpace .welcome .instructions h6 span:first-child {
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 425px) {
  .container .workSpace .welcome .instructions h6 span:first-child {
    display: none;
  }
}
.container .workSpace .welcome .instructions h6 span:last-child {
  display: none;
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 425px) {
  .container .workSpace .welcome .instructions h6 span:last-child {
    display: block;
  }
}
.container .workSpace .scoreWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5.5%;
  right: 0%;
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 768px) {
  .container .workSpace .scoreWrapper {
    top: -6%;
  }
}
@media (max-width: 425px) {
  .container .workSpace .scoreWrapper {
    top: -6.5%;
  }
}
@media (max-width: 375px) {
  .container .workSpace .scoreWrapper {
    top: -7%;
  }
}
@media (max-width: 320px) {
  .container .workSpace .scoreWrapper {
    top: -7.5%;
  }
}
@media (max-width: 280px) {
  .container .workSpace .scoreWrapper {
    top: -7.5%;
  }
}
.container .workSpace .scoreWrapper img {
  width: 30px;
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 768px) {
  .container .workSpace .scoreWrapper img {
    width: 28px;
  }
}
@media (max-width: 425px) {
  .container .workSpace .scoreWrapper img {
    width: 26px;
  }
}
@media (max-width: 375px) {
  .container .workSpace .scoreWrapper img {
    width: 24px;
  }
}
@media (max-width: 320px) {
  .container .workSpace .scoreWrapper img {
    width: 22px;
  }
}
.container .workSpace .scoreWrapper span {
  margin-top: 2px;
  font-size: 1.1em;
}
.container .workSpace .whoAmI {
  margin-top: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0.8;
  color: black;
  display: flex;
  align-items: center;
}
.container .workSpace .whoAmI:hover {
  -webkit-animation: flashing 400ms infinite;
          animation: flashing 400ms infinite;
}
.container .workSpace .whoAmI i {
  font-size: 0.9em;
}
.container .workSpace .whoAmI p {
  margin-left: 10px;
  font-size: 0.7em;
}
.container .workSpace .gameOver {
  position: absolute;
  top: -2%;
  left: 53%;
  transform: translate(-46%, -50%);
  color: #bfd3bf;
  transition: 400ms ease;
  min-width: 100%;
  margin-left: -15px;
  text-align: center;
  font-size: 1.8em;
  opacity: 0;
}
.container .workSpace .gameOver.visible {
  display: block;
  top: 45%;
  text-shadow: 2px 2px 10px black;
  opacity: 1;
}
.container .workSpace .pressSpace {
  color: #bfd3bf;
  position: absolute;
  bottom: 1%;
  left: 52%;
  font-size: 0.9em;
  transform: translate(-50%);
  min-width: 100%;
  text-align: center;
  opacity: 0;
}
.container .workSpace .pressSpace span:first-child {
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 425px) {
  .container .workSpace .pressSpace span:first-child {
    display: none;
  }
}
.container .workSpace .pressSpace span:last-child {
  display: none;
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 425px) {
  .container .workSpace .pressSpace span:last-child {
    display: block;
  }
}
.container .workSpace .pressSpace.visible {
  transition: 400ms ease;
  bottom: 45%;
  -webkit-animation: flashing 400ms infinite 500ms;
          animation: flashing 400ms infinite 500ms;
  text-shadow: 2px 2px 10px black;
  opacity: 1;
}
.container .workSpace .switchBtnWrapper {
  display: none;
  opacity: 0.8;
  position: absolute;
  top: -1.5em;
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 768px) {
  .container .workSpace .switchBtnWrapper {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 425px) {
  .container .workSpace .switchBtnWrapper {
    display: none;
  }
}
.container .workSpace .switchBtnWrapper input {
  width: 3em;
  height: 1em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #eaeaea;
  border-radius: 20px;
  box-shadow: inset 0 0 2px black;
  position: relative;
}
.container .workSpace .switchBtnWrapper input:checked {
  background-color: #bed3be;
}
.container .workSpace .switchBtnWrapper input:checked::before {
  left: 65%;
}
.container .workSpace .switchBtnWrapper input::before {
  position: absolute;
  left: 0;
  content: "";
  width: 1em;
  height: 1em;
  background-color: black;
  display: block;
  border-radius: 50%;
  transform: scale(1.1);
  transition: all ease 500ms;
}
.container .workSpace .switchBtnWrapper i {
  margin-left: 0.5em;
}
.container .controls {
  display: none;
  opacity: 0.8;
  font-size: 2.4em;
  margin-bottom: -0.6em;
  transition: 500ms;
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 768px) {
  .container .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
  }
}
@media (max-width: 425px) {
  .container .controls {
    margin-top: 1em;
    margin-left: 0;
  }
}
@media (max-width: 375px) {
  .container .controls {
    margin-top: 3em;
  }
}
@media (max-width: 320px) {
  .container .controls {
    margin-top: 4em;
  }
}
.container .controls .upBtn {
  border: none;
  background-color: transparent;
  color: black;
  font-size: 1.5em;
}
.container .controls div {
  margin: 0.2em 0;
  display: flex;
  align-items: center;
}
.container .controls div .leftBtn {
  margin-right: 0.5em;
  background: transparent;
  border: none;
  color: black;
  font-size: 1.5em;
}
.container .controls div .startBtn {
  background-color: black;
  color: #bfd3be;
  width: 6em;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 0.25em;
  margin-bottom: 0.5em;
  font-family: "Press Start 2P", cursive;
  /* **************************   VERTICAL  ************************** */
  /* **************************   VERTICAL  ************************** */
}
@media (max-width: 375px) {
  .container .controls div .startBtn {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 320px) {
  .container .controls div .startBtn {
    width: 30px;
    height: 30px;
  }
}
.container .controls div .rightBtn {
  margin-left: 0.5em;
  background: transparent;
  border: none;
  color: black;
  font-size: 1.5em;
}
.container .controls .downBtn {
  border: none;
  background-color: transparent;
  color: black;
  font-size: 1.5em;
}/*# sourceMappingURL=main.css.map */