@import 'base.scss';
@import 'variables.scss';
@import 'animations.scss';
@import 'breakpoints.scss';

.workSpace {
    position: relative;
    //top: 3em;

    .stage {
        width: 500px;
        height: 500px;

        // **************************** MEDIA QUERIES ****************************
        @include devices (tablet) {
            width: 400px;
            height: 400px;
        }
        @include devices (mobileL) {
            width: 350px;
            height: 350px;
        }
        @include devices (mobileM) {
            width: 310px;
            height: 310px;
        }
        @include devices (mobileS) {
            width: 265px;
            height: 265px;
        }
        @include devices (galaxyFold) {
            width: 250px;
            height: 250px;
        }
    }

    .welcome {
        background: #00000040;
        position: absolute;
        width: 100%;
        height: 96.2%;
        text-align: center;
        color: $game-stage-text-color;
        text-shadow: $game-stage-font-shadow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transition: 800ms linear;

        // **************************** MEDIA QUERIES ****************************
        @include devices (tablet) {
            height: 96.2%;
        }
        @include devices (mobileL) {
            height: 95.6%;
        }
        @include devices (mobileS) {
            height: 95%;
        }
        @include devices (galaxyFold) {
            height: 95.7%;
        }

        &.visible {
            opacity: 1;
        }

        h4 {
            margin-left: 10px;
            font-size: 1.5em;

            // **************************** MEDIA QUERIES ****************************
            @include devices (mobileL) {
                font-size: 1.2em;
            }
        }

        h5 {
            font-size: 0.7em;
            margin: 40px 0;

            // **************************** MEDIA QUERIES ****************************
            @include devices (mobileL) {
                margin: 30px 0;
            }
            @include devices (mobileM) {
                margin: 20px 0;
            }

            span {
                &:first-child {
                    // **************************** MEDIA QUERIES ****************************
                    @include devices (mobileL) {
                        display: none;
                    }
                }

                &:last-child {
                    display: none;

                    // **************************** MEDIA QUERIES ****************************
                    @include devices (mobileL) {
                        display: block;
                    }
                }
            }
        }

        p {
            font-size: 0.7em;
        }

        img {
            width: 8px;
            margin: 0 auto;
        }

        .arrowLeftAndRightWrapper {
            display: flex;
            margin: 5px 0;
            
            img {
                width: 24px;

                &:first-child {
                    margin-right: 30px;
                }

                &:last-child {
                    margin-left: 30px;
                }
            }
        }

        .instructions {
            margin-top: 40px;

            // **************************** MEDIA QUERIES ****************************
            @include devices (mobileL) {
                margin-top: 30px;
            }
            @include devices (mobileM) {
                margin-top: 20px;
            }

            p {
                margin-bottom: 10px;

                &:nth-child(3) {
                    // **************************** MEDIA QUERIES ****************************
                    @include devices (mobileL) {
                        display: none;
                    }
                }

                &:nth-child(4) {
                    display: none;
                    
                    // **************************** MEDIA QUERIES ****************************
                    @include devices (mobileL) {
                        display: block;
                    }
                }
            }

            h6 {
                color: lime;
                font-size: 0.7em;
                margin-top: 40px;
                animation: flashing 400ms infinite;
                letter-spacing: 2px;

                // **************************** MEDIA QUERIES ****************************
                @include devices (mobileL) {
                    margin-top: 30px;
                }
                @include devices (mobileS) {
                    margin-top: 20px;
                }

                span {
                    &:first-child {
                        // **************************** MEDIA QUERIES ****************************
                        @include devices (mobileL) {
                            display: none;
                        }
                    }

                    &:last-child {
                        display: none;

                        // **************************** MEDIA QUERIES ****************************
                        @include devices (mobileL) {
                            display: block;
                        }
                    }
                }
            }

        }

    }

    .stage {
        box-shadow: 5px 5px 20px #00000057;
        background-image: url(../img/grass.png);
    }
    
    .scoreWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -5.5%;
        right: 0%;

        // **************************** MEDIA QUERIES ****************************
        @include devices (tablet) {
            top: -6%;
        }
        @include devices (mobileL) {
            top: -6.5%;
        }
        @include devices (mobileM) {
            top: -7%;
        }
        @include devices (mobileS) {
            top: -7.5%;
        }
        @include devices (galaxyFold) {
            top: -7.5%;
        }
        
        img {
            width: 30px;

            // **************************** MEDIA QUERIES ****************************
            @include devices (tablet) {
                width: 28px;
            }
            @include devices (mobileL) {
                width: 26px;
            }
            @include devices (mobileM) {
                width: 24px;
            }
            @include devices (mobileS) {
                width: 22px;
            }
        }
        
        span {
            margin-top: 2px;
            font-size: 1.1em;
        }

    }

    .whoAmI {        
        margin-top: 5px;
        width: fit-content;
        opacity: 0.8;
        color: black;
        display: flex;
        align-items: center;

        &:hover {
            animation: flashing 400ms infinite;
        }

        i {
            font-size: 0.9em;
        }

        p {
            margin-left: 10px;
            font-size: 0.7em;
        }
    }

    .gameOver {
        position: absolute;
        top: -2%;
        left: 53%;
        transform: translate(-46%, -50%);
        color: $game-stage-text-color;
        transition: 400ms ease;
        min-width: 100%;
        margin-left: -15px;
        text-align: center;
        font-size: 1.8em;
        opacity: 0;

        &.visible {
            display: block;
            top: 45%;
            text-shadow: $game-stage-font-shadow;
            opacity: 1;
        }
    }

    .pressSpace {
        color: $game-stage-text-color;
        position: absolute;
        bottom: 1%;
        left: 52%;
        font-size: 0.9em;
        transform: translate(-50%);
        min-width: 100%;
        text-align: center;
        opacity: 0;

        &.visible {
            transition: 400ms ease;
            bottom: 45%;
            animation: flashing 400ms infinite 500ms;
            text-shadow: $game-stage-font-shadow;
            opacity: 1;
        }
    }
}

.controls {
    flex-direction: column;
    align-items: center;
    display: none;
    opacity: 0.8;
    font-size: 2.4em;
    margin-top: 1.5em;

    // **************************** MEDIA QUERIES ****************************
    @include devices (mobileL) {
        display: flex;
        align-items: center;
    }

    .upBtn {
        border: none;
        background-color: transparent;
        color: black;
        font-size: 1.5em;
    }

    div {
        margin: 0.5em 0;
        display: flex;
        align-items: center;
        
        .leftBtn {
            margin-right: 1em;
            background: transparent;
            border: none;
            color: black;
            font-size: 1.5em;
        }

        .startBtn {
            background-color: black;
            color: white;
            width: 40px;
            height: 40px;
            border-radius: 20%;
            border: none;
            font-size: 0.4em;
            margin-bottom: 0.2em;

            // **************************** MEDIA QUERIES ****************************
            @include devices (mobileM) {
                width: 35px;
                height: 35px;
            }
            @include devices (mobileS) {
                width: 30px;
                height: 30px;
            }
        }

        .rightBtn {
            margin-left: 1em;
            background: transparent;
            border: none;
            color: black;
            font-size: 1.5em;
        }
    }

    .downBtn {
        border: none;
        background-color: transparent;
        color: black;
        font-size: 1.5em;
    }
}